certifi==2021.10.8
charset-normalizer==2.0.11
click==8.0.3
ffmpeg==1.4
filelock==3.4.2
Flask==2.0.2
huggingface-hub==0.4.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
MarkupSafe==2.0.1
numpy==1.22.1
packaging==21.3
pydub==0.25.1
pyparsing==3.0.7
PyYAML==6.0
regex==2022.1.18
requests==2.27.1
sacremoses==0.0.47
six==1.16.0
srt==3.5.1
tokenizers==0.11.4
torch==1.10.2
tqdm==4.62.3
transformers==4.16.2
typing_extensions==4.0.1
urllib3==1.26.8
webrtcvad==2.0.10
Werkzeug==2.0.2
